html {
    background-color: var(--primary);
  }
  body {
    background-color: var(--primary);
  }
  .cursor {
    pointer-events: none;
  }
  
  .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10050;
  }
  
  .cursor {
    mix-blend-mode: difference;
  }
  
  .cursor__ball circle {
    fill: white;
  }
  
  /* a {
    font-size: 1.5rem;
  } */
  